html, body, #map {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
	font-family: helvetica, sans-serif;
}

#bMapCon {
	float: left;
	margin-top: 73px;
	margin-left: 88px;
	z-index: 100;
	position: relative;
}

#logo {
	width: 50px;
	height: 50px;
	float: left;
	margin-top: -1px;
}

#logoFont {
	margin-left: 10px;
	margin-top: 10px;
	font-family: helvetica, sans-serif;
	font-size: 24px;
	color: white;
	float: left;
}

.map {
	height: 100%;
	left: 0;
	width: 100%;
	position: fixed;
	top: 50px;
	overflow: hidden;
}

#mapCon {
	overflow: hidden;
}

.mypop {
	z-index: 100;
	position: fixed;
	padding: 10px;
	width: 400px;
	max-height: 500px;
	background: #FFFFFF;
	overflow-y: auto;
	margin-left: 60%;
	margin-right: 30%;
	margin-top: 13%;
	border: 1px solid #3c557d;
}


#navbar {
	width: 100%; 
	height: 50px;
	z-index: 2;
	background-color: #3c557d;
	position: fixed;
	float: left;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

#pic {
	width: 383px;
	height: 300px;
	margin-top: 10px;

}

#popHeader {
	

	border-bottom: 1px solid #3c557d;
}



#selTitle {

	font-size: 17px;
}

@media only screen and (max-width: 720px) { 
	
	#logo {
		margin-left: 3px;
	}
	
	.mypop {
		width: 90%;
		height: 84%;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 15%;
	}

	#navbar {
		padding-left: 10px;
		padding-right: 10px;	
	}
	
	#pic {
		width: 97%;
	}

}